name: Win11ISO

on:
  workflow_dispatch:

jobs:
  Win11ISO:
    runs-on: windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: unzip *.zip

      - run: |
          sed -i -e "s/powershell/pwsh/" uup_download_windows.cmd
          sed -i -e 's/$/\r/g' uup_download_windows.cmd
          cd Drivers
          curl -L -O GPD-All-WIN10_X64_drivers_V6.tar.zst "https://57.gigafile.nu/download.php?file=1207-i662267846ed5d48c8cde0c706f068ec4"
          tar xf GPD-All-WIN10_X64_drivers_V6.tar.zst
          tree
          
      - run: .\uup_download_windows.cmd

      - run: split -b 2000M -d *.ISO WIN11.ISO
        shell: bash


      - run: gh release create Win11ISO WIN11.ISO??
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
      
