name: Win11ISO

on:
  workflow_dispatch:

jobs:
  Win11ISO:
    runs-on: windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: unzip *.zip

      - run: |
          sed -i -e "s/powershell/pwsh/" uup_download_windows.cmd
          sed -i -e 's/$/\r/g' uup_download_windows.cmd
          cd Drivers
          curl -L -O GPD-All-WIN10_X64_drivers_V6.zip "https://drive.usercontent.google.com/download?id=1bH1ysDkHJzTL98QR5X6XSvTaZeV-mZMC&export=download&authuser=1&confirm=t&uuid=5e6f6769-0087-4af0-82a3-28bd351fdc84&at=ALWLOp61ur8QgJziiIGuhB-2BO8J%3A1764808976890"
          unzip *.zip
          tree
          
      - run: .\uup_download_windows.cmd

      - run: split -b 2000M -d *.ISO WIN11.ISO
        shell: bash


      - run: gh release create Win11ISO WIN11.ISO??
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
      
